#async-example{
	overflow:visible;
}


/* Span Tag */
#innerDivH span{
 text-align:center;
 display:flex !important;
 justify-content:center;
 align-items:center;
 flex-wrap:wrap;
}


#async-example{
    background-color: #F1F3F4;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word; 
    overflow: hidden;
}


/* Badge */
#innerDivH .badge{
 display:flex;
 justify-content:center;
 align-items:center;
 position:fixed;
}

#type{
 position:absolute !important;
 top:43%;
}


/* Outer render container */
#outerRenderContainer{
 flex:0 0 auto;
 align-self:flex-start;
 flex-direction:column;
}

/* Inner divh */
#innerDivH{
 display:inline-flex;
}

#innerDivH > span.badge.bg-success{
	width: 25%;
	height: 25%
}

