.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


 @media screen and (max-width: 600px) {
   .ml-auto.navbar-nav > a {
       display: none;
       background-color: rgba(0,0,0,0.8);
    }

/*#scrollableDiv > div > div > div > div > figure {
      width: 50vw;
    height: calc(100vh - 50vh);
  }*/

 }







.navbar{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

navbar-brand {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

#root > div > nav > div {
  margin-left: auto;
}



body{
  background-image: linear-gradient(125deg,#1E90FF,#008080,#3CB371,#48D1CC,#9370DB,#DDA0DD,#BA55D3,#B22222);
  animation: bganimation 14s infinite;
}


@keyframes bganimation{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
