@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 990px) {
  .ml-auto.navbar-nav > a {
    display: none;
  }
  #root > div > div > nav > #searchBar {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  a[id^="nav-link-"] {
    display: none;
  }
  #root > div > div > nav > div.ml-auto.navbar-nav > div > div > #searchBar {
    display: none;
  }
}

@media screen and (min-width: 360px) {
  #root .container:nth-child(1) .App .navbar > a:nth-child(1) {
    padding-left: 5px;
  }
}

#root {
  background: linear-gradient(
    128deg,
    #1e90ff,
    #008080,
    #3cb371,
    #f1f3f4,
    #9370db,
    #dda0dd,
    #ba55d3,
    #b22222
  );
  animation: bganimation 14s infinite;
}


@keyframes bganimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Navigation */
#root .App nav {
  background-color: #f1f3f4;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10000;
  right: 0px;
  left: 0px;
}

/* Navigation */
#root .container .App nav {
  width: 100% !important;
}

/* App */
#root .App {
  padding-top: 39px;
}

/* Profile  list */
#scrollableDiv .c-profile__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar nav */
.App .navbar .navbar-nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

/* Link */
#root .container:nth-child(1) .App .navbar > a:nth-child(1) {
  padding-left: 25px;
}

/* Link */
#async-example a {
  display: inline-flex;
  transform: translatex(0px) translatey(0px) !important;
  overflow: hidden;
  justify-content: flex-start;
  flex-direction: column;
  flex: 0 0 auto;
}

/* Rounded */
#async-example .dropdown-item .rounded {
  display: inline-flex;
  align-items: center;
}

/* Span Tag */
#async-example .dropdown-item span {
  display: inline-block;
  transform: translatex(0px) translatey(0px) !important;
  font-size: 100%;
  line-height: 1.5em;
  min-height: 64px;
}

/* Async example */
#async-example {
  display: inline-flex !important;
  flex-direction: column;
  justify-content: normal;
}

/* Container */
#root
  .container
  .App
  .navbar
  div
  .rbt
  #async-example
  .dropdown-item
  .container {
  width: 100% !important;
  height: 100% !important;
}

/* Container */
#async-example .dropdown-item .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Span Tag */
#root
  .container
  .App
  .navbar
  div
  .rbt
  #async-example
  .dropdown-item
  .container
  span {
  width: 100% !important;
  height: 100% !important;
}

/* Rounded */
#root
  .container
  .App
  .navbar
  div
  .rbt
  #async-example
  .dropdown-item
  .container
  .rounded {
  height: 100% !important;
  width: 25% !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
